.main
{
    background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,.9)), url('../Images/home-background.png') no-repeat;
    background-position: 10%;
    background-size: cover;
    justify-content: unset;
}

.main-text
{ 
    height: 100%;
    justify-content: center; 
}

.dst
{
    display: flex;
    margin: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.dst h1
{ font-weight: 700; }

.dst img
{ 
    height: 50px; 
    margin-left: 1rem;
}

.btn-report::after, .btn-disapprove::after
{ background: var(--bs-danger); }

.btn-report, .btn-disapprove
{ border: 2px solid var(--bs-danger); }

.buttons-campaigns
{ margin-bottom: 0; }

.campaigns
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 2rem;
}

.campaigns h1 img
{ height: 140px; }

.single-campaign
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.single-campaign h2
{
    width: fit-content;
    height: fit-content;
}


.campaign-header
{
    display: flex;
    justify-content: space-between;
}

.campaign-description
{ margin: 1rem 0; }

.donated-wei
{ margin: 1rem 0; }

.campaigns-container
{
    display: flex;
    width: 90%;
    max-height: 600px;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}